html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #222222;
    color: #ffffff;
    font-family: Arial;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}



#canvas {
    flex: 1 1 auto;
}

#progressBar {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

#mapPanel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#matchesPanel {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

#mapPanel,
#matchesPanel {
    margin: 16px;
}

#matchesPanel>* {
    margin-bottom: 16px;
}

#matchesPanel>label {
    margin-bottom: 0px;
}

#matchHistoryUrlInput {
    margin-bottom: 2px;
}